<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <svg width="753" height="800" viewBox="0 0 753 800" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect x="3.33508" y="1" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <path d="M3.33508 1H115.64V24.0901H3.33508V1ZM305.947 19.3774H418.251V42.4675H305.947V19.3774Z" fill="white" stroke="black" stroke-width="2"/>
  <rect x="467.154" y="62.1846" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="305.599" y="105.762" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="305.519" y="203.304" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="466.266" y="245.63" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <path d="M623.647 292.617H735.951V315.707H623.647V292.617Z" fill="white" stroke="black" stroke-width="2"/>
  <rect x="307" y="376" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <path d="M305.439 285.146H417.744V308.237H305.439V285.146Z" fill="white" stroke="black" stroke-width="2"/>
  <rect x="3.33508" y="40.1758" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="3.33508" y="83.9736" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="3.33508" y="127.771" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="2.29285" y="183.013" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="474.225" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="2.40503" y="353.028" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="2" y="389" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="425.373" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="306.813" y="449.053" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="473.254" y="499.396" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="639.695" y="576.029" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="306.813" y="555.146" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="305.778" y="652.849" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="467.301" y="695.734" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="303.707" y="750.552" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="2.40503" y="264.648" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="531.467" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="580.318" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="629.169" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="678.021" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="726.872" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="775.91" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="1.36963" y="223.814" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <rect x="2.40503" y="304.177" width="112.305" height="23.0901" fill="white" stroke="black" stroke-width="2"/>
  <line x1="115.597" y1="11.5449" x2="200.37" y2="11.5449" stroke="black" stroke-width="2"/>
  <line x1="116.64" y1="51.2207" x2="201.413" y2="51.2207" stroke="black"/>
  <line x1="116.64" y1="50.7207" x2="201.413" y2="50.7207" stroke="black" stroke-width="2"/>
  <line x1="201.413" y1="29.1523" x2="305.642" y2="29.1523" stroke="black" stroke-width="2"/>
  <line x1="419.251" y1="29.1523" x2="523.48" y2="29.1523" stroke="black" stroke-width="2"/>
  <line x1="419.251" y1="116.307" x2="523.48" y2="116.307" stroke="black" stroke-width="2"/>
  <line x1="419.19" y1="213.797" x2="523.419" y2="213.797" stroke="black" stroke-width="2"/>
  <line x1="580.454" y1="255.936" x2="684.683" y2="255.936" stroke="black" stroke-width="2"/>
  <line x1="524" y1="387" x2="685" y2="387" stroke="black" stroke-width="2"/>
  <line x1="201.497" y1="460.105" x2="305.726" y2="460.105" stroke="black" stroke-width="2"/>
  <line x1="420.225" y1="460.105" x2="524.455" y2="460.105" stroke="black" stroke-width="2"/>
  <line x1="586.667" y1="509.889" x2="690.896" y2="509.889" stroke="black" stroke-width="2"/>
  <line x1="580.713" y1="706.727" x2="690.983" y2="706.727" stroke="black"/>
  <line x1="420.225" y1="565.639" x2="524.455" y2="565.639" stroke="black" stroke-width="2"/>
  <line x1="420.225" y1="664.587" x2="524.455" y2="664.587" stroke="black"/>
  <line x1="419.19" y1="762.477" x2="523.419" y2="762.477" stroke="black"/>
  <line x1="200.461" y1="566.571" x2="304.69" y2="566.571" stroke="black" stroke-width="2"/>
  <line x1="199.426" y1="664.587" x2="303.655" y2="664.587" stroke="black"/>
  <line x1="198.39" y1="762.104" x2="302.619" y2="762.104" stroke="black"/>
  <line x1="418.155" y1="295.464" x2="522.384" y2="295.464" stroke="black" stroke-width="2"/>
  <line x1="420" y1="387" x2="524.229" y2="387" stroke="black" stroke-width="2"/>
  <line x1="116.64" y1="94.5186" x2="201.413" y2="94.5186" stroke="black" stroke-width="2"/>
  <line x1="116.64" y1="138.316" x2="201.413" y2="138.316" stroke="black" stroke-width="2"/>
  <line x1="114.782" y1="193.101" x2="199.555" y2="193.101" stroke="black" stroke-width="2"/>
  <line x1="116.853" y1="234.307" x2="201.626" y2="234.307" stroke="black" stroke-width="2"/>
  <line x1="114.782" y1="275.141" x2="199.555" y2="275.141" stroke="black" stroke-width="2"/>
  <line x1="117" y1="364" x2="201.773" y2="364" stroke="black" stroke-width="2"/>
  <line x1="117" y1="403" x2="201.773" y2="403" stroke="black" stroke-width="2"/>
  <line x1="116.853" y1="314.669" x2="201.626" y2="314.669" stroke="black" stroke-width="2"/>
  <line x1="115.817" y1="435.866" x2="200.59" y2="435.866" stroke="black" stroke-width="2"/>
  <line x1="114.782" y1="484.717" x2="199.555" y2="484.717" stroke="black" stroke-width="2"/>
  <line x1="114.782" y1="541.959" x2="199.555" y2="541.959" stroke="black" stroke-width="2"/>
  <line x1="114.782" y1="590.81" x2="199.555" y2="590.81" stroke="black" stroke-width="2"/>
  <line x1="114.782" y1="639.662" x2="199.555" y2="639.662" stroke="black" stroke-width="2"/>
  <line x1="114.782" y1="689.013" x2="199.555" y2="689.013" stroke="black"/>
  <line x1="114.782" y1="737.865" x2="199.555" y2="737.865" stroke="black"/>
  <line x1="114.782" y1="786.902" x2="199.555" y2="786.902" stroke="black"/>
  <line x1="200.37" y1="116.307" x2="304.599" y2="116.307" stroke="black" stroke-width="2"/>
  <line x1="199.426" y1="213.797" x2="303.655" y2="213.797" stroke="black" stroke-width="2"/>
  <line x1="201.497" y1="295.464" x2="305.726" y2="295.464" stroke="black" stroke-width="2"/>
  <line x1="202" y1="387" x2="306.229" y2="387" stroke="black" stroke-width="2"/>
  <line y1="-0.5" x2="38.7496" y2="-0.5" transform="matrix(0.0268981 0.999638 -0.999942 0.0107973 200.37 12.9854)" stroke="black"/>
  <line y1="-1" x2="38.7496" y2="-1" transform="matrix(0.0268981 0.999638 -0.999942 0.0107973 200.37 12.9854)" stroke="black" stroke-width="2"/>
  <line x1="201.37" y1="95.5186" x2="201.37" y2="139.316" stroke="black" stroke-width="2"/>
  <line x1="199.926" y1="194.473" x2="199.926" y2="235.307" stroke="black"/>
  <line x1="200.426" y1="194.473" x2="200.426" y2="235.307" stroke="black" stroke-width="2"/>
  <line x1="200.961" y1="276.141" x2="200.961" y2="316.975" stroke="black"/>
  <line x1="200.961" y1="276.141" x2="200.961" y2="316.975" stroke="black"/>
  <line x1="201.461" y1="276.141" x2="201.461" y2="316.975" stroke="black" stroke-width="2"/>
  <line x1="203" y1="363" x2="203" y2="403.834" stroke="black" stroke-width="2"/>
  <line x1="523.438" y1="29.7119" x2="523.438" y2="61.1846" stroke="black" stroke-width="2"/>
  <line x1="523.438" y1="85.8345" x2="523.438" y2="117.307" stroke="black" stroke-width="2"/>
  <line x1="523.471" y1="214.797" x2="523.471" y2="244.63" stroke="black" stroke-width="2"/>
  <line x1="524" y1="267" x2="524" y2="296.833" stroke="black" stroke-width="2"/>
  <line x1="686" y1="257" x2="686" y2="293" stroke="black" stroke-width="2"/>
  <line x1="686" y1="316" x2="686" y2="388" stroke="black" stroke-width="2"/>
  <line x1="201.461" y1="436.679" x2="201.461" y2="485.717" stroke="black" stroke-width="2"/>
  <line x1="524.007" y1="460.545" x2="524.007" y2="498.396" stroke="black"/>
  <line x1="524.507" y1="460.545" x2="524.507" y2="498.396" stroke="black" stroke-width="2"/>
  <line x1="524.007" y1="523.568" x2="524.007" y2="566.639" stroke="black"/>
  <line x1="524.007" y1="523.568" x2="524.007" y2="566.639" stroke="black"/>
  <line x1="524.507" y1="523.568" x2="524.507" y2="566.639" stroke="black" stroke-width="2"/>
  <line x1="691.483" y1="512.567" x2="691.483" y2="555.638" stroke="black"/>
  <line x1="691.983" y1="509.024" x2="691.983" y2="575.029" stroke="black" stroke-width="2"/>
  <line x1="691.983" y1="600.201" x2="691.983" y2="707.227" stroke="black" stroke-width="2"/>
  <line x1="524.007" y1="665.087" x2="524.007" y2="694.734" stroke="black"/>
  <line x1="524.007" y1="718.973" x2="524.007" y2="762.044" stroke="black"/>
  <line x1="200.426" y1="542.959" x2="200.426" y2="591.997" stroke="black" stroke-width="2"/>
  <line x1="200.426" y1="640.475" x2="200.426" y2="689.513" stroke="black" stroke-width="2"/>
  <line x1="200.185" y1="738.365" x2="200.185" y2="787.402" stroke="black"/>
<!-- first  -->
{% if count==4: %}
    <text x="5" y="15" fill="black">{{names[0]}}</text>
        <text x="5" y="60" fill="black">{{names[1]}}</text>
      <text x="5" y="98" fill="black">{{names[2]}}</text>
          <text x="5" y="140" fill="black">{{names[3]}}</text>
          <text x="330" y="40" fill="black">{{names[0]}}</text>
            <text x="330" y="127" fill="black">{{names[3]}}</text>
<text x="490" y="80" fill="black">{{names[0]}}</text>
{%elif count==6:%}
<!-- first -->
<!-- second -->

            <text x="5" y="204" fill="black">{{names[0]}}</text>
              <text x="5" y="240" fill="black">{{names[1]}}</text>
                <text x="330" y="226" fill="black">{{names[0]}}</text>
              <text x="330" y="305" fill="black">{{names[3]}}</text>
                <text x="490" y="267" fill="black">{{names[0]}}</text>
                <text x="630" y="310" fill="black">{{names[4]}}</text>
                <text x="5" y="280" fill="black">{{names[2]}}</text>
                  <text x="5" y="320" fill="black">{{names[3]}}</text>
                  <text x="330" y="395" fill="black">{{names[4]}}</text>
                <text x="5" y="370" fill="black">{{names[4]}}</text>
                <text x="5" y="400" fill="black">{{names[5]}}</text>
                  <!-- Second -->
                  <!-- Third -->
                  {% else: %}


                      <text x="330" y="670" fill="black">{{names[7]}}</text>
                      <text x="490" y="710" fill="black">{{names[2]}}</text>
                      <text x="330" y="773" fill="black">{{names[2]}}</text>
                      <text x="5" y="438" fill="black">{{names[3]}}</text>
                        <text x="5" y="490" fill="black">{{names[4]}}</text>
                          <text x="5" y="545" fill="black">{{names[5]}}</text>
                            <text x="5" y="595" fill="black">{{names[6]}}</text>
                              <text x="5" y="645" fill="black">{{names[7]}}</text>
                                <text x="5" y="690" fill="black">{{names[1]}}</text>
                                  <text x="5" y="740" fill="black">{{names[4]}}</text>
                              <text x="5" y="790" fill="black">{{names[0]}}</text>
                                  <text x="330" y="460" fill="black">{{names[3]}}</text>
                                  <text x="330" y="568" fill="black">{{names[5]}}</text>
                                  <text x="500" y="520" fill="black">{{names[3]}}</text>
                                    <text x="645" y="590" fill="black">{{names[3]}}</text>
<!-- Third -->







{% endif %}



  </svg>

</body>
</html>
